priv-vars.yaml
roles/nginx-remote/files/cert.crt
roles/nginx-tunneled/files/key.key
roles/nginx-tunneled/files/cert.crt
roles/gateway-docker/files/gatewayDocker
roles/nginx-remote/files/gatewayDocker
roles/nginx-tunneled/files/GeoLite2-Country_20240730.tar.gz
roles/nginx-remote/files/GeoLite2-Country_20240730.tar.gz
