{
 log {
    output stdout
    #format json # Or comment out for default format
    level debug # Or 'trace'
  }
}


mealie.lemon.com {
    tls internal
    reverse_proxy http://casa:9925 {
        header_up X-Forwarded-For {remote}
    }
}

memo.lemon.com {
    tls internal
    reverse_proxy http://casa:5230 {
        header_up X-Forwarded-For {remote}
    }
}